<a href="https://colab.research.google.com/github/Pilo1961/QuestionAnswer_System/blob/master/code/04-modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sistema de Preguntas y Respuestas
## 04. Transform and Modelling

En el presente notebook se realizan algunas transformaciones a los datos para pasarlos en forma de matriz de feautures los distintos modelos que se implementan -RandomForest, DecisionTree y  AdaBoost.

###4.1 Setup

In [0]:
# Imports 
import numpy as np
import pandas as pd

In [2]:
# Load data from google drive
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

###4.2 Load data

In [0]:
# Loading pickles

import pickle
with open("/content/drive/My Drive/QA/root_ohe.pkl", "rb") as f:
    root_ohe = pickle.load(f)

with open("/content/drive/My Drive/QA/dist_euclid.pkl", "rb") as f:
    euclid = pickle.load(f)

with open("/content/drive/My Drive/QA/dist_cosine.pkl", "rb") as f:
    cosine = pickle.load(f)

with open("/content/drive/My Drive/QA/train_target.pkl", "rb") as f:
    train = pickle.load(f)

In [4]:
print(len(euclid))
print(len(cosine))
print(root_ohe.shape)

86655
86655
(86655, 9)

### 4.3 Transformaciones

In [5]:
root_ohe.columns=["root_0","root_1","root_2","root_3","root_4","root_5","root_6","root_7","root_8"]
root_ohe

       root_0  root_1  root_2  root_3  root_4  root_5  root_6  root_7  root_8
0         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1         0.0     1.0     1.0     1.0     1.0     1.0     1.0     0.0     0.0
2         0.0     1.0     1.0     1.0     1.0     1.0     1.0     0.0     0.0
3         0.0     1.0     1.0     1.0     1.0     1.0     1.0     0.0     0.0
4         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...       ...     ...     ...     ...     ...     ...     ...     ...     ...
86650     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
86651     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
86652     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
86653     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
86654     0.0     0.0     0.0     1.0     0.0     0.0     0.0     0.0     0.0

[86655 rows x 9 columns]

In [6]:
# Preparamos los datos de distancia euclidiana
df_euclid=pd.DataFrame(euclid)
df_euclid=df_euclid.iloc[:,0:9]
df_euclid.columns=["euc_0","euc_1","euc_2","euc_3","euc_4","euc_5","euc_6","euc_7","euc_8"]
df_euclid.fillna(50, inplace=True)#imputamos con un valor grande.
df_euclid

          euc_0     euc_1     euc_2  ...      euc_6  euc_7  euc_8
0      3.677407  4.353702  4.355070  ...   4.402894   50.0   50.0
1      3.275529  3.809133  4.072714  ...   4.053148   50.0   50.0
2      3.525856  3.833884  4.128951  ...   4.022338   50.0   50.0
3      4.185555  4.926534  5.493232  ...   5.381157   50.0   50.0
4      4.105423  4.132237  4.704564  ...   4.582985   50.0   50.0
...         ...       ...       ...  ...        ...    ...    ...
86650  3.872611  3.352780  4.963609  ...  50.000000   50.0   50.0
86651  5.204634  4.683757  6.283728  ...  50.000000   50.0   50.0
86652  4.217816  3.874945  5.335346  ...  50.000000   50.0   50.0
86653  3.858460  3.419447  4.768705  ...  50.000000   50.0   50.0
86654  4.856692  4.657388  5.746286  ...  50.000000   50.0   50.0

[86655 rows x 9 columns]

In [7]:
# Preparamos los datos de distancia coseno
df_cos=pd.DataFrame(cosine)
df_cos=df_cos.iloc[:,0:9]
df_cos.columns=["cos_0","cos_1","cos_2","cos_3","cos_4","cos_5","cos_6","cos_7","cos_8"]
df_cos.fillna(5, inplace=True)#imputamos con un valor grande.
df_cos

          cos_0     cos_1     cos_2     cos_3  ...     cos_5     cos_6  cos_7  cos_8
0      0.515035  0.560616  0.491694  0.539840  ...  0.388284  0.515897    5.0    5.0
1      0.593893  0.479187  0.430129  0.477835  ...  0.540927  0.451481    5.0    5.0
2      0.578198  0.476727  0.469617  0.326489  ...  0.536546  0.455903    5.0    5.0
3      0.936393  0.931265  1.024325  0.781154  ...  1.006022  1.003309    5.0    5.0
4      0.762022  0.556835  0.635806  0.588073  ...  0.681103  0.616077    5.0    5.0
...         ...       ...       ...       ...  ...       ...       ...    ...    ...
86650  0.395856  0.337780  0.471598  0.415259  ...  5.000000  5.000000    5.0    5.0
86651  0.862949  0.788391  0.934276  0.920594  ...  5.000000  5.000000    5.0    5.0
86652  0.502594  0.490041  0.584356  0.552701  ...  5.000000  5.000000    5.0    5.0
86653  0.389310  0.348517  0.424135  0.368030  ...  5.000000  5.000000    5.0    5.0
86654  0.677444  0.708994  0.696106  0.697186  ...  5.000000  5.000000    5.0    5.0

[86655 rows x 9 columns]

Pegamos todos los datos para formar la matriz de features

In [0]:
mat=pd.concat([root_ohe,df_cos,df_euclid],ignore_index=True,axis=1)

In [9]:
mat=mat.to_numpy()
mat.shape

(86655, 27)

In [0]:
#noramlizamos variables
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
mat=scaler.fit_transform(mat)

Variable target

In [13]:
y=train["target"].to_numpy()
len(y)

86655

### 4.4 Modelos

In [0]:
from sklearn.model_selection import cross_validate, train_test_split, GridSearchCV, ParameterGrid
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import *
from sklearn import preprocessing,  metrics, tree, decomposition

In [0]:
def define_hyper_params():
    """
    Esta función define el parameter grid para los 
    distintos clasificadores.
    """
    classifiers = {
        'RF': RandomForestClassifier(n_estimators=50, n_jobs=-1),
        'DT': DecisionTreeClassifier(),
        'AB': AdaBoostClassifier(DecisionTreeClassifier(max_depth=1), algorithm="SAMME", n_estimators=200)
            }
    
    #Aqui definimos los parametros que queremos checar en el magic loop
    grid = {
        'RF':{'n_estimators': [10,100], 'max_depth': [10,50], 'max_features': ['sqrt','log2'],'min_samples_split': [5,10], 'n_jobs':[-1]},
        'DT': {'criterion': ['gini', 'entropy'], 'max_depth': [10,50], 'max_features': [None],'min_samples_split': [5,10]},
        'AB': { 'algorithm': ['SAMME', 'SAMME.R'], 'n_estimators': [1,10]}
            }
    return classifiers, grid

In [0]:
def magic_loop_GS(models_to_run, clfs, grid, X, y):
    
    #crea df para ir guardando las calificaciones del modelo y el parametro
    d={'modelo':[""],"params":[""],"accuracy":[0]}
    model_hyperparmeter=pd.DataFrame(data=d)
    
    X_train, X_test, y_train, y_test = train_test_split(X, y)
    for index, clf in enumerate([clfs[x] for x in models_to_run]):
        hyper_param_grid = grid[models_to_run[index]]
           
        grid_search = GridSearchCV(clf, 
                           hyper_param_grid, 
                           scoring = 'accuracy',
                           cv = 5, 
                           n_jobs = -1,
                           verbose = 5)
        
        grid_search.fit(X, y)
        
        #de los valores posibles que pusimos en el grid, cuáles fueron los mejores
        best_param=[grid_search.best_params_]

        #mejor score asociado a los modelos generados con los diferentes hiperparametros
        #corresponde al promedio de los scores generados con los cv
        best_score=grid_search.best_score_

        d={'modelo':models_to_run[index],"params":best_param,"accuracy":best_score}
        model_new=pd.DataFrame(data=d)
        model_hyperparmeter=model_hyperparmeter.append(model_new,ignore_index=True)
        

    model_hyperparmeter=model_hyperparmeter.drop(model_hyperparmeter.index[0])               
    return model_hyperparmeter

In [17]:
import time
models_to_run = ['RF', 'DT', 'AB']
clfs, grid = define_hyper_params()

start = time.time()
hyperparameters=magic_loop_GS(models_to_run, clfs, grid, mat, y)
end = time.time()
tiempo_trans = end - start

# En el arreglo tenemos el mejor score para cada metodo
hyperparameters

Fitting 5 folds for each of 16 candidates, totalling 80 fits

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:  1.3min
/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:691: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed: 11.1min
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed: 13.5min finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:   19.2s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  1.9min finished

Fitting 5 folds for each of 4 candidates, totalling 20 fits

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done  20 out of  20 | elapsed:   18.5s finished

  modelo                                             params  accuracy
1     RF  {'max_depth': 50, 'max_features': 'sqrt', 'min...  0.629127
2     DT  {'criterion': 'gini', 'max_depth': 10, 'max_fe...  0.524159
3     AB          {'algorithm': 'SAMME', 'n_estimators': 1}  0.337084

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test ,y_train, y_test =train_test_split(mat,y,test_size=0.8)

In [38]:
#cross validation
clf=RandomForestClassifier(**hyperparameters["params"][1])
cross_validate(clf,x_train,y_train,cv=5,scoring="accuracy")

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

{'fit_time': array([4.46671987, 4.92185283, 4.21490622, 4.1788969 , 4.28728819]),
 'score_time': array([0.20462132, 0.10358691, 0.10278726, 0.10298109, 0.10287404]),
 'test_score': array([0.59648111, 0.59261396, 0.61367571, 0.61598384, 0.60271206])}

In [40]:
# Entrenamos el mejor modelo
clf=RandomForestClassifier(**hyperparameters["params"][1])
clf.fit(x_train,y_train)
clf.score(x_test, y_test)

0.6138133979574173

In [0]:
with open("/content/drive/My Drive/QA/best_model.pkl", "wb") as f:
    pickle.dump(clf,f)