<a href="https://colab.research.google.com/github/Pilo1961/QuestionAnswer_System/blob/master/code/Models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook setup

In [0]:
#load data from google drive
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import numpy as np
import pandas as pd

#Load data

In [0]:
import pickle
with open("/content/drive/My Drive/QA/root_ohe.pkl", "rb") as f:
    root_ohe = pickle.load(f)

with open("/content/drive/My Drive/QA/dist_euclid.pkl", "rb") as f:
    euclid = pickle.load(f)

with open("/content/drive/My Drive/QA/dist_cosine.pkl", "rb") as f:
    cosine = pickle.load(f)

with open("/content/drive/My Drive/QA/train_target.pkl", "rb") as f:
    train = pickle.load(f)

In [74]:
print(len(euclid))
print(len(cosine))
print(root_ohe.shape)

86655
86655
(86655, 9)

#Transformaciones

In [55]:
root_ohe.columns=["root_0","root_1","root_2","root_3","root_4","root_5","root_6","root_7","root_8"]
root_ohe

       root_0  root_1  root_2  root_3  root_4  root_5  root_6  root_7  root_8
0         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1         0.0     1.0     1.0     1.0     1.0     1.0     1.0     0.0     0.0
2         0.0     1.0     1.0     1.0     1.0     1.0     1.0     0.0     0.0
3         0.0     1.0     1.0     1.0     1.0     1.0     1.0     0.0     0.0
4         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...       ...     ...     ...     ...     ...     ...     ...     ...     ...
86650     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
86651     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
86652     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
86653     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
86654     0.0     0.0     0.0     1.0     0.0     0.0     0.0     0.0     0.0

[86655 rows x 9 columns]

In [54]:
#preparamos los datos de distancia euclidiana
df_euclid=pd.DataFrame(euclid)
df_euclid=df_euclid.iloc[:,0:9]
df_euclid.columns=["euc_0","euc_1","euc_2","euc_3","euc_4","euc_5","euc_6","euc_7","euc_8"]
df_euclid.fillna(50, inplace=True)#imputamos con un valor grande.
df_euclid

          euc_0     euc_1     euc_2  ...      euc_6  euc_7  euc_8
0      3.677407  4.353702  4.355070  ...   4.402894   50.0   50.0
1      3.275529  3.809133  4.072714  ...   4.053148   50.0   50.0
2      3.525856  3.833884  4.128951  ...   4.022338   50.0   50.0
3      4.185555  4.926534  5.493232  ...   5.381157   50.0   50.0
4      4.105423  4.132237  4.704564  ...   4.582985   50.0   50.0
...         ...       ...       ...  ...        ...    ...    ...
86650  3.872611  3.352780  4.963609  ...  50.000000   50.0   50.0
86651  5.204634  4.683757  6.283728  ...  50.000000   50.0   50.0
86652  4.217816  3.874945  5.335346  ...  50.000000   50.0   50.0
86653  3.858460  3.419447  4.768705  ...  50.000000   50.0   50.0
86654  4.856692  4.657388  5.746286  ...  50.000000   50.0   50.0

[86655 rows x 9 columns]

In [52]:
#preparamos los datos de distancia coseno
df_cos=pd.DataFrame(cosine)
df_cos=df_cos.iloc[:,0:9]
df_cos.columns=["cos_0","cos_1","cos_2","cos_3","cos_4","cos_5","cos_6","cos_7","cos_8"]
df_cos.fillna(5, inplace=True)#imputamos con un valor grande.
df_cos

          cos_0     cos_1     cos_2     cos_3  ...     cos_5     cos_6  cos_7  cos_8
0      0.515035  0.560616  0.491694  0.539840  ...  0.388284  0.515897    5.0    5.0
1      0.593893  0.479187  0.430129  0.477835  ...  0.540927  0.451481    5.0    5.0
2      0.578198  0.476727  0.469617  0.326489  ...  0.536546  0.455903    5.0    5.0
3      0.936393  0.931265  1.024325  0.781154  ...  1.006022  1.003309    5.0    5.0
4      0.762022  0.556835  0.635806  0.588073  ...  0.681103  0.616077    5.0    5.0
...         ...       ...       ...       ...  ...       ...       ...    ...    ...
86650  0.395856  0.337780  0.471598  0.415259  ...  5.000000  5.000000    5.0    5.0
86651  0.862949  0.788391  0.934276  0.920594  ...  5.000000  5.000000    5.0    5.0
86652  0.502594  0.490041  0.584356  0.552701  ...  5.000000  5.000000    5.0    5.0
86653  0.389310  0.348517  0.424135  0.368030  ...  5.000000  5.000000    5.0    5.0
86654  0.677444  0.708994  0.696106  0.697186  ...  5.000000  5.000000    5.0    5.0

[86655 rows x 9 columns]

Pegamos todos los datos para formar la matriz de features

In [0]:
mat=pd.concat([root_ohe,df_cos,df_euclid],ignore_index=True,axis=1)

In [60]:
mat=mat.to_numpy()
mat.shape

(86655, 27)

Variable target

In [78]:
y=train["target"].to_numpy()
len(y)

86655

In [0]:
#noramlizamos variables
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
mat=scaler.fit_transform(mat)

Division de train y test

In [0]:
from sklearn.model_selection import train_test_split

x_train, x_test ,y_train, y_test =train_test_split(mat,y,test_size=0.8)

#Modelos

In [85]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth=100, criterion='gini', n_estimators=100)
clf.fit(x_train, y_train)
clf.score(x_test, y_test)
#clf.predict(x_test)

0.6107120189256247

In [0]:
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import roc_curve, auc, confusion_matrix
from sklearn.model_selection import cross_validate, train_test_split, GridSearchCV, ParameterGrid
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import *
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing, svm, metrics, tree, decomposition

E

In [0]:
def define_hyper_params():
    """
    Esta función define el parameter grid para los 
    distintos clasificadores.
    """
    classifiers = {
        'RF': RandomForestClassifier(n_estimators=50, n_jobs=-1),
        'DT': DecisionTreeClassifier(),
        'GB': GradientBoostingClassifier(learning_rate=0.05, subsample=0.5, max_depth=6, n_estimators=10),
        'AB': AdaBoostClassifier(DecisionTreeClassifier(max_depth=1), algorithm="SAMME", n_estimators=200)
            }
    
    #Aqui definimos los parametros que queremos checar en el magic loop
    grid = {
        'RF':{'n_estimators': [1,10,100,1000], 'max_depth': [1,10,30,50], 'max_features': ['sqrt','log2'],'min_samples_split': [2,5,10], 'n_jobs':[-1]},
        'DT': {'criterion': ['gini', 'entropy'], 'max_depth': [1,10,30,50], 'max_features': [None],'min_samples_split': [2,5,10]},
        'GB': {'n_estimators': [1,10,100,1000], 'learning_rate' : [0.001,0.1,0.5],'subsample' : [0.1,.5,.7,1], 'max_depth': [5,10,20]},
        'AB': { 'algorithm': ['SAMME', 'SAMME.R'], 'n_estimators': [1]}
            }
    return classifiers, grid

In [0]:
def magic_loop_GS(models_to_run, clfs, grid, X, y):
    
    #crea df para ir guardando las calificaciones del modelo y el parametro
    d={'modelo':[""],"params":[""],"f1":[0]}
    model_hyperparmeter=pd.DataFrame(data=d)
    
    X_train, X_test, y_train, y_test = train_test_split(X, y)
    for index, clf in enumerate([clfs[x] for x in models_to_run]):
        hyper_param_grid = grid[models_to_run[index]]
           
        grid_search = GridSearchCV(clf, 
                           hyper_param_grid, 
                           scoring = 'accuracy',
                           cv = 5, 
                           n_jobs = -1,
                           verbose = 5)
        
        grid_search.fit(X, y)
        
        #de los valores posibles que pusimos en el grid, cuáles fueron los mejores
        best_param=[grid_search.best_params_]

        #mejor score asociado a los modelos generados con los diferentes hiperparametros
        #corresponde al promedio de los scores generados con los cv
        best_score=grid_search.best_score_

        d={'modelo':models_to_run[index],"params":best_param,"f1":best_score}
        model_new=pd.DataFrame(data=d)
        model_hyperparmeter=model_hyperparmeter.append(model_new,ignore_index=True)
        
        #print("clf",clf)
        #print("best para,",best_param)
        #print("best score,",best_score)
 

    model_hyperparmeter=model_hyperparmeter.drop(model_hyperparmeter.index[0])               
    return model_hyperparmeter

In [0]:
import time
models_to_run = ['RF', 'DT', 'GB', 'AB']
clfs, grid = define_hyper_params()

start = time.time()
hyperparameters=magic_loop_GS(models_to_run, clfs, grid, mat, y)
end = time.time()
tiempo_trans = end - start

#en el arreglo tenemos el mejor score para cada metodo
hyperparameters

Fitting 5 folds for each of 96 candidates, totalling 480 fits

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:   13.2s
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed:  6.7min
/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:691: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

In [0]:
hyperparameters=hyperparameters.sort_values(by="f1",ascending=False)
max_index=hyperparameters["f1"].idxmax(axis=0)

In [0]:
from sklearn import svm, datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.utils.multiclass import unique_labels


X = input_vars[features]
y = output_var
labs=["mayor_23","menor_23"]



# Split the data into a training set and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

# Run classifier, using a model that is too regularized (C too low) to see
# the impact on the results
classifier = clfs[hyperparameters["modelo"][max_index]].set_params(**hyperparameters.params[max_index])
y_pred = classifier.fit(X_train, y_train).predict(X_test)


def plot_confusion_matrix(y_true, y_pred,labs,
                          normalize=False,
                          title=None,
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    if not title:
        if normalize:
            title = 'Normalized confusion matrix'
        else:
            title = 'Confusion matrix, without normalization'

    # Compute confusion matrix
    cm = confusion_matrix(y_true, y_pred)
    # Only use the labels that appear in the data
    #classes = classes[unique_labels(y_true, y_pred)]
    classes = labs
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)

    fig, ax = plt.subplots()
    im = ax.imshow(cm, interpolation='nearest', cmap=cmap)
    ax.figure.colorbar(im, ax=ax)
    # We want to show all ticks...
    ax.set(xticks=np.arange(cm.shape[1]),
           yticks=np.arange(cm.shape[0]),
           # ... and label them with the respective list entries
           xticklabels=classes, yticklabels=classes,
           title=title,
           ylabel='True label',
           xlabel='Predicted label')

    # Rotate the tick labels and set their alignment.
    plt.setp(ax.get_xticklabels(), rotation=45, ha="right",
             rotation_mode="anchor")

    # Loop over data dimensions and create text annotations.
    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i in range(cm.shape[0]):
        for j in range(cm.shape[1]):
            ax.text(j, i, format(cm[i, j], fmt),
                    ha="center", va="center",
                    color="white" if cm[i, j] > thresh else "black")
    fig.tight_layout()
    return ax


np.set_printoptions(precision=2)

# Plot non-normalized confusion matrix
plot_confusion_matrix(y_test, y_pred, labs,
                      title='Confusion matrix, without normalization')

# Plot normalized confusion matrix
plot_confusion_matrix(y_test, y_pred, labs, normalize=True,
                      title='Normalized confusion matrix')

plt.show()