<a href="https://colab.research.google.com/github/Pilo1961/QuestionAnswer_System/blob/master/code/question_answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sistema de Preguntas y Respuestas
## Métodos Analíticos

In [0]:
import numpy as np
import pandas as pd

In [47]:
#load data from google drive
from google.colab import drive
drive.mount('/content/drive')
path= "/content/drive/My Drive/data/train-v2.0.json"
train=pd.read_json(path,orient='columns')
path= "/content/drive/My Drive/data/dev-v2.0.json"
test=pd.read_json(path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [121]:
with open(path) as f: 
    d = json.load(f) 
  
# lets put the data into a pandas df 
# clicking on raw_nyc_phil.json under "Input Files" 
# tells us parent node is 'programs' 
test = json_normalize(d['data'])  
test.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  import sys

                             title                                         paragraphs
0                          Normans  [{'qas': [{'question': 'In what country is Nor...
1  Computational_complexity_theory  [{'qas': [{'question': 'What branch of theoret...
2              Southern_California  [{'qas': [{'question': 'What is Southern Calif...
3             Sky_(United_Kingdom)  [{'qas': [{'question': 'What company was forme...
4             Victoria_(Australia)  [{'qas': [{'question': 'What kind of economy d...

In [131]:
nycphil2=pd.json_normalize(data=d['data'],record_path=['paragraphs'],meta=['title'])
nycphil2.head()

                                                 qas  ...    title
0  [{'question': 'In what country is Normandy loc...  ...  Normans
1  [{'question': 'Who was the duke in the battle ...  ...  Normans
2  [{'question': 'What is the original meaning of...  ...  Normans
3  [{'question': 'When was the Duchy of Normandy ...  ...  Normans
4  [{'question': 'Who upon arriving gave the orig...  ...  Normans

[5 rows x 3 columns]

In [153]:
nycphil3=json_normalize(data=d['data'],record_path=['paragraphs','qas'],meta=['title',['paragraph','context']])
nycphil3.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

                                            question  ...                                  paragraph.context
0               In what country is Normandy located?  ...  The Normans (Norman: Nourmands; French: Norman...
1                 When were the Normans in Normandy?  ...  The Normans (Norman: Nourmands; French: Norman...
2      From which countries did the Norse originate?  ...  The Normans (Norman: Nourmands; French: Norman...
3                          Who was the Norse leader?  ...  The Normans (Norman: Nourmands; French: Norman...
4  What century did the Normans first gain their ...  ...  The Normans (Norman: Nourmands; French: Norman...

[5 rows x 7 columns]

In [152]:
nycphil3["plausible_answers"]

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      NaN
4                                                      NaN
                               ...
11868                                                  NaN
11869         [{'text': 'pound-force', 'answer_start': 4}]
11870     [{'text': 'kilogram-force', 'answer_start': 82}]
11871    [{'text': 'kilogram-force', 'answer_start': 195}]
11872    [{'text': 'kilogram-force', 'answer_start': 383}]
Name: plausible_answers, Length: 11873, dtype: object

In [162]:
nycphil4=json_normalize(data=d['data'],
                        record_path=['paragraphs','qas','answers'],
                        meta=['title',
                              ['paragraph','context'],
                              ['paragraph','qas','question'],
                              ['paragraph','qas','id'],
                              ['paragraph','qas','is_impossible']])#
                              #['paragraph','qas','plausible_answers']])
nycphil4

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  import sys

                          text  ...  paragraph.qas.is_impossible
0                       France  ...                        False
1                       France  ...                        False
2                       France  ...                        False
3                       France  ...                        False
4      10th and 11th centuries  ...                        False
...                        ...  ...                          ...
20297                   sthène  ...                        False
20298                   sthène  ...                        False
20299                   sthène  ...                        False
20300                   sthène  ...                        False
20301                   sthène  ...                        False

[20302 rows x 7 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

                          text  answer_start    title
0                       France           159  Normans
1                       France           159  Normans
2                       France           159  Normans
3                       France           159  Normans
4      10th and 11th centuries            94  Normans
...                        ...           ...      ...
20297                   sthène           665    Force
20298                   sthène           665    Force
20299                   sthène           665    Force
20300                   sthène           665    Force
20301                   sthène           665    Force

[20302 rows x 3 columns]

In [0]:
]